%h1 Contacts

.row
  .small-12.columns
    - @contacts.each do |contact|
      %div.small-12.contact
        %div.row
          %ul.small-12.large-8.columns
            %li
              %b Name:
              = contact.name
            %li
              %b Phone:
              = contact.phone
            %li
              %b email:
              = contact.email
            %li
              %b address:
              = contact.address

          %ul.button-group.radius.small-12.large-3.columns
            %li
              = link_to 'Edit', edit_contact_path(contact), class: 'button tiny'
            %li
              = link_to 'Delete', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button tiny'

= link_to 'New Contact', new_contact_path, class: 'button tiny success'
