%h1 Listing contacts

%table
  %thead
    %tr
      %th User
      %th Email
      %th Phone
      %th Address
      %th Name
      %th Created
      %th Updated
      %th
      %th
      %th

  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.user
        %td= contact.email
        %td= contact.phone
        %td= contact.address
        %td= contact.name
        %td= contact.created_at
        %td= contact.updated_at
        %td= link_to 'Show', contact, class: 'button tiny success'
        %td= link_to 'Edit', edit_contact_path(contact), class: 'button tiny success'
        %td= link_to 'Destroy', contact, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'button tiny alert'

%br

= link_to 'New Contact', new_contact_path, class: 'button tiny success'
